# node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json.log

# expo
.expo/
dist/
web-build/
expo-env.d.ts

# EAS updates / EAS CLI
.eas/

# Android build outputs and intermediate files
android/app/build/
android/build/
android/.gradle/
*.apk
*.aar
*.jar

# Gradle files
.gradle/
build/

# Local configuration / Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
*.env.*

# Keystores / private certificates
*.jks
*.p8
*.p12
*.pem
*.der

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
